# just macos things
.DS_Store

# secrets
.env

# tmp files
tmp.txt

# smarty files
app/cache/*
app/compile/*
app/templates_c/*

# composer libs
app/vendor/*

# bootstrap things
app/public/bootstrap/css/*
app/public/bootstrap/js/*

# mvn things
database/target/dependency/*

# robot-framework things
test/*.xml
test/*.html
test/*.png