# secrets
.env

# composer libs
app/vendor/*

# bootstrap things
app/public/bootstrap/css/*
app/public/bootstrap/js/*

# mvn things
database/target/dependency/*

# robot-framework things
test/*.xml
test/*.html